<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="1">
    <h1>Delta Cart</h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <div class="cart-section">
      <div class="cart-text" (click)="openCartDialog()">Cart <span>({{cartItems.length}})</span>
        <span> <img class="cart-img" src="assets/images/cart2.png" /></span>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->
<app-navigation [cartItems]="cartItems"></app-navigation>
<router-outlet></router-outlet>
<app-footer></app-footer>