<footer id="footer">


    <div class="footer-container">
        <div class="newsletter-before">

        </div>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-md-12 col-xs-12 box-footer">

                        <div class="col-xs-12 col-md-4 col-lg-5 footer_static">
                            <div class="des">
                                <div class="des1">
                                    <h3>Need Help?</h3>
                                    <p>Call: 1-800-345-6789</p>
                                </div>
                                <div class="des2">
                                    <h3>Products &amp; Sales</h3>
                                    <p>Call: 1-877-345-6789</p>
                                </div>
                                <div class="des3">
                                    <h3>Check Order Status</h3>
                                    <p>Click here to check Order Status.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-8 col-lg-7 footer_block links">

                            <div class="col-md-6 wrapper">
                                <h3 class="h3 hidden-sm-down">Products</h3>
                                <div class="title clearfix hidden-md-up" data-target="#footer_sub_menu_53465"
                                    data-toggle="collapse">
                                    <h3>Products</h3>
                                    <span class="float-xs-right">
                                        <span class="navbar-toggler collapse-icons">
                                            <i class="material-icons add"></i>
                                            <i class="material-icons remove"></i>
                                        </span>
                                    </span>
                                </div>
                                <ul id="footer_sub_menu_53465" class="footer_list collapse">
                                    <li>
                                        <a id="link-product-page-prices-drop-1" class="cms-page-link"
                                            href="prices-drop.html" title="Our special products">
                                            Prices drop
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-product-page-new-products-1" class="cms-page-link"
                                            href="new-products" title="Our new products">
                                            New products
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-product-page-best-sales-1" class="cms-page-link"
                                            href="best-sales.html" title="Our best sales">
                                            Best sales
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-static-page-contact-1" class="cms-page-link" href="contact-us.html"
                                            title="Use our form to contact us">
                                            Contact us
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-static-page-my-account-1" class="cms-page-link"
                                            href="loginfd9a.html" title="">
                                            My account
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 wrapper">
                                <h3 class="h3 hidden-sm-down">Our company</h3>
                                <div class="title clearfix hidden-md-up" data-target="#footer_sub_menu_8193"
                                    data-toggle="collapse">
                                    <h3>Our company</h3>
                                    <span class="float-xs-right">
                                        <span class="navbar-toggler collapse-icons">
                                            <i class="material-icons add"></i>
                                            <i class="material-icons remove"></i>
                                        </span>
                                    </span>
                                </div>
                                <ul id="footer_sub_menu_8193" class="footer_list collapse">
                                    <li>
                                        <a id="link-cms-page-1-2" class="cms-page-link" href="content/1-delivery.html"
                                            title="Our terms and conditions of delivery">
                                            Delivery
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-cms-page-2-2" class="cms-page-link"
                                            href="content/2-legal-notice.html" title="Legal notice">
                                            Legal Notice
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-cms-page-4-2" class="cms-page-link" href="content/4-about-us.html"
                                            title="Learn more about us">
                                            About us
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-static-page-contact-2" class="cms-page-link" href="contact-us.html"
                                            title="Use our form to contact us">
                                            Contact us
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-static-page-sitemap-2" class="cms-page-link" href="sitemap.html"
                                            title="Lost ? Find what your are looking for">
                                            Sitemap
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-static-page-stores-2" class="cms-page-link" href="stores.html"
                                            title="">
                                            Stores
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>


                    </div>
                    <div class="col col-lg-4 col-md-12 col-xs-12 footer_block">

                        <div class="ft_newsletter">


                            <div id="block-newsletter-label">

                                <div class="title-newsletter">
                                    <h2>Newsletter</h2>
                                    <!-- <p class="desc">You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</p> -->
                                </div>
                            </div>

                            <form >
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-sub">
                                            <input class="btn btn-primary float-xs-right hidden-xs-down"
                                                name="submitNewsletter" type="submit" value="Subscribe">
                                            <span class="lnr lnr-envelope"></span>

                                        </div>

                                        <div class="input-wrapper">
                                            <input name="email" type="text" value="" placeholder="Your email address"
                                                aria-labelledby="block-newsletter-label">
                                        </div>
                                        <input type="hidden" name="action" value="0">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-xs-12">
                                    </div>
                                </div>
                            </form>


                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <div class="link">
                    <div class="App">
                        <p>Free App:</p>
                        <a href="#" class="Store "><span>Apple Store</span></a> <a href="#" class="Google"><span>Google
                                Play</span></a>
                    </div>
                    <div class="follow">
                        <p>Follow Us:</p>
                        <ul class="link-follow">
                            <li class="first"><a class="twitter fa fa-twitter" title="Twitter"
                                    href="https://twitter.com/posthemes"><span>twitter</span></a></li>
                            <li><a class="wifi fa fa-rss" title="Google" href="#"><span>wifi</span></a></li>
                            <li><a class="google fa fa-google-plus" title="Google" href="#"><span>google</span></a></li>
                            <li><a class="facebook fa fa-facebook" title="Facebook"
                                    href="https://www.facebook.com/posthemes"><span>facebook</span></a></li>
                            <li><a class="youtube fa fa-youtube" title="Youtube"
                                    href="https://www.youtube.com/user/posthemes"><span>youtube </span></a></li>
                            <li><a class="instagram fa fa-instagram" title="Youtube" href="#"><span>instagram
                                    </span></a></li>
                        </ul>
                    </div>
                </div>



                <div class="links-bottom">
                    <ul class="link">
                        <li class="first"><a href="#">About Us</a></li>
                        <li>|</li>
                        <li><a href="#">Blog</a></li>
                        <li>|</li>
                        <li><a href="#">My Account</a></li>
                        <li>-</li>
                        <li><a href="#">Oder Status</a></li>
                        <li>-</li>
                        <li><a href="#">Shipping &amp; Returns</a></li>
                        <li>-</li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li>-</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="copyright ">Copyright @ 2018 <a href="http://posthemes.com/">Posthemes</a>. All Rights
                    Reserved</div>
            </div>
        </div>
    </div>

</footer>